html {
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #6c6c6c;

}
a{
	text-decoration: none;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
/*SECTION*/
.section--black{
	background-color: #070707;
}
.section_description{
	font-size: 16px;
	font-style: italic;
	color: #6c6c6c;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 90px;
}

/*conteiner*/
.container{
	max-width: 1142px;
	margin: 0 auto;
	padding: 0 15px;
}
/*HEADER*/
header{
	width: 100%;
	height: 80vh;
		background: #111111 url(../img/bg1.jpg) no-repeat center;
		background-size:cover;
}
body header {
	position: relative;
}
.nav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	padding: 0px;
	background-color: #111111;
	color: #fff;
	text-transform: uppercase;
}
.nav_items{
	display: flex;
	font-weight: 700;
	font-size: 14px;
}
.nav_logo{
	font-size: 24px;
	font-weight: 900;

}
.nav_logo:hover{
	color:#fcac45;
	cursor: pointer;
}
.nav_link{
	padding-top: 10px;
	margin-left: 25px;
	color: white;
}
.nav_link--active{
	color:#fcac45;

}
.nav_link,nav_link:after{
	cursor: pointer;
}
.nav_link:first-child{
		margin-left: 0;
}
.nav_link:after{
		content: '';
		opacity: 0;
		display: block;
		width: 100%;
		height: 3px;
		margin-top: 6px;
		background-color: #fcac45;
		transition: opacity .2s linear;
}
.nav_link:hover:after,
.nav_link.nav_link--active{
		opacity: 1;
}
.header_intro{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;

}
.header_name{
	font-size: 44px;
	text-transform: uppercase;
	color: #fcac45;
	font-weight: 700;
}
.header_name span{
	color: #999;
	font-weight: 300;	
}
.header_subname{
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	fill: #fff;
	letter-spacing: -.01em;
}
.header_subname span{
	font-weight: 300;
}
/*ABOUT*/
.about{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	margin-bottom: 90px;
}
.about_us{
	max-width: 435px;
}
.about_title{
	margin-top: 20px;
	font-size: 34px;
	text-transform: uppercase;	
	font-size: 300;
}
.about_title span{
	font-weight: 700;
}
.about_img{
	margin: 0;
	max-width: 45%;
}
.about_title:after{
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	margin-top: 6px;
	margin-bottom: 30px;
	background-color: #fcac45;
}
.about_text{
	font-size: 18px;
	color: #6c6c6c;
	line-height: 1.2;
	padding-bottom: 30px;
}
.about_skill_elem{
	margin-bottom: 5px;
	font-size: 16px;
	color: #5a5a5a;
	font-style: italic;
}
.about_skill_elem span {
	font-weight: 600;
	font-style: normal;
}
.fa-dot-circle{
	margin-right: 5px;
	font-weight: 900;
}


/*SECTION*/
.section_title{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 400;
	padding-top: 100px;
}
.section_title:after{
	content: "";
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	width: 100px;
	height: 5px;
	background-color: #fcac45;
}
.section_title--black{
	color: #fff;
}
.section_title--white{
	color:#000;
}
/*OUR TEAM*/
.team{
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	justify-content: space-between;
	padding-bottom: 130px;
}
.team_item{
	text-align: center;
	width: 20%;
	color: #fff;
}
.nav_bars{
	display: none;
	margin-right: 50px;
	font-size: 1.5rem;
}
.team_img{
	width: 50%;
	margin: 0 auto;
}
.team_name{
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
}
.team_prof{
	font-size: 16px;
	font-weight: 300;
	margin-top: -5px;
	margin-bottom: 10px;
}
/*SERVICES*/

.services{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services_item{
	width: 20%;
	text-align: center;
}
.services_img{
	margin: 0 auto;
	width: 50%;
}
.services_name{
	text-transform: uppercase;	
	font-weight: 400;
	font-size: 25px;
	color:#222222;
	margin: 10px 0;
}
.services_text{
	font-size: 14px;
	color:#222;
	line-height: 15pt;
}
/*CLIENTS*/
.section_title--clients{
	font-weight: 300;
}
.clients_logo{
	display: flex;
	margin-top: 100px;
	justify-content: space-between;
	padding-bottom: 150px;
}
/*OURWORK*/
.work{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.work_img{
	width: 20%;
	margin: 2.5%;
}
/* Comments */
.comment{
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	max-width: 950px;
	font-size: 18px;
}
.comment_body{
	color: #e7e7e7;
	margin-bottom: 50px;
}
.comment_author{
	color: #b2b2b2;
	padding-bottom: 150px;
}
.comment_author span{
	font-weight: 300;
}

/* Contact */
.contact-text{
	max-width: 800px;
	text-align: center;
	margin: 75px auto;
	font-size: 1rem;
	color: #6c6c6c;
}
form{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.form_items{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.form_item{
	width: 49%;
}
.input_name{
	color: #636363;
	font-size: 14px;
}
.input_name span{
	color: #db0000;
}
.input_contact{
	width: 100%;
	height: 40px;
	font-size: 1.2rem;
}
.textarea_item{
	width: 100%;
}
textarea{
	resize: none;
	width: 100%;
	height: 170px;
	padding: 10px;
	font-size: 1.2rem;
}
.contact_button{
	background-color: #fcac45;
	margin: 20px 0 0 auto;
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 50px;
	outline: none;
}
.contact_button:hover{
	background-color: #f19419;
}
/* ICONS */

.icons{
	display: flex;
	padding: 30px 0;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}
.icons a{
	cursor: pointer;
	display: flex;
	border: 3px solid #777777;
	padding: 20px;
	margin: 5px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
.icons a{
	text-decoration: none;
	color: #777777;
}
.icons a:hover{
	color: white;
	border: 3px solid WHITE;
}



.nav_responsive{
	display: block;
	margin:0 50px 0 0;
	text-align: right;
}
/* *{
	border: 1px solid red;
} */



/* MEDIA */
@media screen and (max-width: 800px){
	.nav{
		justify-content: space-between;
		padding:0 15px;
		z-index: 3;
		background-color: #111111;
	}
	.nav.responsive{
		top: 0;
		left: 0;
		width: 100%;
	}
	.nav_bars{
		display: block;
	}
	.nav_link:not(:first-child){
		display: none;
	}
	.nav_link.nav_bars{
		margin: 0;
	}
	.nav_link:after{
		display: none;
	}

	.nav_items.responsive .nav_link,
	.nav_items.responsive{
		display: block;
		width: 100%;
	}

	.nav_items.responsive .nav_link{
		margin: 0 0 10px 0;
		text-align: right;
	}
}
@media screen and (max-width:1000px){
	.about{
		display: block;
	}
	.about_img,
	.about_us{
		margin: 0 auto;
		max-width: 70%;
	}
	.team_item{
		margin: 0 0 40px 0;
		width: 45%;
	}
	.team{
		padding: 0;
		margin-top: 50px ;
	}
	.section_title{
		padding-top: 40px;
	}
	.services_item{
		width: 45%;
		margin: 0 0 30px 0;
	}
	.section_description{
		margin: 30px 0;
	}
	.clients_logo{
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.clients_logo img{
		width: 300px;
		margin: 20px auto;
	}

	form{
		display: block;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.form_items{
		display: block;
		width: 49%;
		margin: 0 auto;
	}
	.form_item{
		width: 100%;
	}
	.textarea_item{
		width: 49%;
		margin: 0 auto;
	}
	.contact_button{
		display: flex;
		margin: 0 auto;
	}

}